$white: #fff;
$black: #000;

$background-default: #121212;

$background-player: #282828;

$primary-color: rgb(29, 185, 84);
$primary-color-opacity: #1ed760;

$primary-text-color: #fafafa;
$secondary-text-color: #999999;
